@import "tailwindcss";

html, body {
  touch-action: none;
  overscroll-behavior: none;
  -webkit-user-select: none;
  user-select: none;
  height: 100%;
  width: 100%;
  overflow: hidden;
  position: fixed; /* Prevent scrolling the whole page */
}

#root {
  height: 100%;
  width: 100%;
  overflow: hidden;
  overscroll-behavior: none;
}

* {
  overscroll-behavior: none;
}
